<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,290},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,435},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,580},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,725},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,870},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1015},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1160},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1305},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1450},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollar 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1595},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,1740},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BitmapNumber.png</string>
            <key>size</key>
            <string>{115,1885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771a4bebdccf72f32c777dea6b72feb4:198615ba0572469a0c4a34aba2251411:af0c658becbde6ab270758087458e0dd$</string>
            <key>textureFileName</key>
            <string>BitmapNumber.png</string>
        </dict>
    </dict>
</plist>
