<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,216}</string>
                <key>spriteSourceSize</key>
                <string>{135,216}</string>
                <key>textureRect</key>
                <string>{{0,424},{135,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,210}</string>
                <key>spriteSourceSize</key>
                <string>{241,210}</string>
                <key>textureRect</key>
                <string>{{598,0},{241,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,214}</string>
                <key>textureRect</key>
                <string>{{608,210},{277,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,172}</string>
                <key>spriteSourceSize</key>
                <string>{316,172}</string>
                <key>textureRect</key>
                <string>{{0,0},{316,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_4_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,235}</string>
                <key>spriteSourceSize</key>
                <string>{261,235}</string>
                <key>textureRect</key>
                <string>{{464,424},{261,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_5_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,231}</string>
                <key>spriteSourceSize</key>
                <string>{329,231}</string>
                <key>textureRect</key>
                <string>{{135,424},{329,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_6_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,212}</string>
                <key>spriteSourceSize</key>
                <string>{308,212}</string>
                <key>textureRect</key>
                <string>{{0,210},{308,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_7_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,203}</string>
                <key>spriteSourceSize</key>
                <string>{282,203}</string>
                <key>textureRect</key>
                <string>{{316,0},{282,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_8_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,213}</string>
                <key>spriteSourceSize</key>
                <string>{300,213}</string>
                <key>textureRect</key>
                <string>{{308,210},{300,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Symbol_Bur.png</string>
            <key>size</key>
            <string>{885,659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a1ba65658d770d51eb7cabd3b7e4f2a:9f27c0869aeea3dde9493b9c008da053:5683bb1afe219380406016856be3b38b$</string>
            <key>textureFileName</key>
            <string>Symbol_Bur.png</string>
        </dict>
    </dict>
</plist>
