<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,169}</string>
                <key>spriteSourceSize</key>
                <string>{125,169}</string>
                <key>textureRect</key>
                <string>{{0,331},{125,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,164}</string>
                <key>spriteSourceSize</key>
                <string>{223,164}</string>
                <key>textureRect</key>
                <string>{{0,163},{223,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,168}</string>
                <key>spriteSourceSize</key>
                <string>{257,168}</string>
                <key>textureRect</key>
                <string>{{508,163},{257,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,127}</string>
                <key>spriteSourceSize</key>
                <string>{293,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{293,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,186}</string>
                <key>spriteSourceSize</key>
                <string>{242,186}</string>
                <key>textureRect</key>
                <string>{{430,331},{242,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,180}</string>
                <key>spriteSourceSize</key>
                <string>{305,180}</string>
                <key>textureRect</key>
                <string>{{125,331},{305,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,166}</string>
                <key>spriteSourceSize</key>
                <string>{285,166}</string>
                <key>textureRect</key>
                <string>{{223,163},{285,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,154}</string>
                <key>spriteSourceSize</key>
                <string>{261,154}</string>
                <key>textureRect</key>
                <string>{{293,0},{261,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,163}</string>
                <key>spriteSourceSize</key>
                <string>{278,163}</string>
                <key>textureRect</key>
                <string>{{554,0},{278,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Symbol.png</string>
            <key>size</key>
            <string>{832,517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c7546eba6c0df5ada2d994a8aff172:5e5338a32eca704e018574727e60acf0:3d0ad3a717172f27e6ea538b13245e4a$</string>
            <key>textureFileName</key>
            <string>Symbol.png</string>
        </dict>
    </dict>
</plist>
